/* 
 FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- PACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.subheading {
  display: flex;
  justify-content: center;
  width: 60rem;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2.4rem 3.2rem;
  color: #1864ab;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  border-bottom: 1px solid #1864ab;
  margin-bottom: 6.4rem;
}
/* **************************** */
/* HEADER AND NAVIGATION */
/* **************************** */
.header {
  font-size: 1.8rem;
  background-color: #ecf7ff;
  max-width: 100%;
  border-bottom: 2px solid #dee2e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav {
  padding: 2.4rem 3.2rem;
  cursor: pointer;
}
.nav-logo {
  height: 2.4rem;
}
.main-nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
  color: #343a40;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #339af0;
  border-bottom: 1px solid #339af0;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 999;
  opacity: 90%;
}

/* **************************** */
/* HERO SECTION */
/* **************************** */
.section-hero {
  background-color: #ecf7ff;
  padding: 4.8rem 0 9.6rem 0;
  margin-bottom: 3.2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-text-box {
  align-self: start;
  margin-top: 100px;
}
.hero-primary {
  font-size: 5.2rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3.2rem;
}
.hero-full-name {
  color: #1864ab;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  color: #868e96;
}

.hero-img {
  width: 80%;
}
/* **************************** */
/* KNOWN LANGUAGES SECTION */
/* **************************** */

.language-section {
  padding: 4.8rem 0 3.2rem 0;
  margin-bottom: 6.4rem;
}

.heading-languages {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

.logos {
  display: flex;
  justify-content: space-evenly;
}

.logos img {
  height: 9.6rem;
  transition: all 0.3s;
}
.logos img:hover {
  transform: scale(1.4);
}

/* **************************** */
/* ABOUT SECTION */
/* **************************** */

.about-section {
  padding: 9.6rem 0;
}
.about {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  padding: 0 3.2rem;
  align-items: center;
}
.about-img {
  border-radius: 0.4rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.203);
}

.about-text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-items: flex-end;
  padding: 0 4.8rem;
}
.heading-about {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.about-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* **************************** */
/* PROJECTS SECTION */
/* **************************** */

.project-section {
  padding: 0 3.2rem;
}
.slider {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 9.6rem;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  align-items: center;
  background-color: #edf7fe;
  padding: 3.2rem 4.8rem;
  margin-bottom: 4.8rem;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.132);
}
.slide-photo {
  max-width: 100%;
  opacity: 0.9;
  border-radius: 15px;
}
.slide-description {
  position: absolute;
  background-color: #74c0fc;
  color: #e3f2fe;
  padding: 3.2rem 4.8rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  font-size: 2rem;
  border-radius: 5px;
}

.slider-btn {
  border: none;
  background: #fff;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}

.icon-btn {
  height: 2.4rem;
  width: 2.4rem;
}

.slider__btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/* **************************** */
/* CONTACT SECTION */
/* **************************** */

.contact-section {
  padding: 0 3.2rem;
}
.contact {
  max-width: 120rem;

  margin: 0 auto;
  padding: 2.4rem 3.2rem;
  background-color: #e4f3ff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.125);
}
.contact-text-box {
  max-width: 100%;
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  align-self: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact-form input,
.contact-form textarea {
  border: none;
  padding: 1.2rem;
  font-family: inherit;
  color: inherit;
  background-color: #f8f9fa;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #adb5bd;
  font-size: 1.3rem;
}
.contact-form textarea {
  height: 10rem;
}

.contact-details {
  background-color: #1864ab;
  text-align: center;

  max-width: 100%;
  padding: 3.2rem;

  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.125);
}

.btn {
  border: none;
  background-color: #4dabf7;
  border-radius: 16px;
  width: 12rem;
  height: 4rem;
  color: #e7f5ff;
}

.details-list {
  display: flex;

  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: flex-start;
  padding: 4.8rem 6.4rem;
}
.details-list li {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  font-size: 2rem;
  color: #8cb2d5;
}
.details-icon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3.2rem;
}
.icon-details {
  color: #d1e0ee;
  height: 2.4rem;
  width: 2.4rem;
}

.icon-detail-list {
  height: 2.4rem;
  width: 2.4rem;
  color: #d1e0ee;
}

/* **************************** */
/* FOOTER SECTION */
/* **************************** */

.footer {
  margin-top: 4.8rem;
  padding: 3.2rem 0;
  border-top: 1px solid #eee;
  background-color: #f8f9fa;
}

.footer-container {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.copyright {
  font-size: 1.2rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.logo {
  height: 1.6rem;
}

/* MEDIA QUERIES */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .hero-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }
}

@media (max-width: 72em) {
  .hero-primary {
    font-size: 3.6rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .about-img {
    max-width: 90%;
  }

  .heading-about {
    font-size: 3.6rem;
  }
  .about-description {
    font-size: 1.4rem;
  }

  .slider {
    max-width: 60rem;
  }

  .details-list li {
    font-size: 1.4rem;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .hero {
    padding: 0 0 0 3.2rem;
  }
  .hero-primary {
    font-size: 2.4rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }
  .hero-img {
    width: 70%;
  }
  .logos img {
    height: 6.4rem;
  }

  .heading-about {
    font-size: 3rem;
  }
  .about-description {
    font-size: 1.4rem;
  }

  .details-list {
    padding: 3.2rem 4.8rem;
  }

  .icon-details {
    height: 2rem;
    width: 2rem;
  }

  .icon-detail-list {
    height: 2rem;
    width: 2rem;
  }
  .details-list li {
    font-size: 1rem;
  }
}

@media (max-width: 46em) {
  html {
    font-size: 50%;
  }
  .hero-text-box {
    margin-top: 8rem;
  }

  .hero-primary {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  .hero-description {
    font-size: 1rem;
  }
  .about {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }
  .about-img {
    max-width: 70%;
  }
  .about-img-box {
    text-align: center;
    padding: 0;
  }

  .slider {
    max-width: 50rem;
  }

  .slide-description {
    padding: 2.4rem 3.2rem;
    font-size: 1.8rem;
  }
  .details-list {
    padding: 2.4rem 1.8rem;
  }

  .details-list li {
    gap: 1.8rem;
    font-size: 1.2rem;
  }

  .contact-details {
    padding: 2.4rem 0;
  }
  .contact-text-box {
    padding: 4.8rem 6.4rem 6.4rem 4.8rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}

@media (max-width: 35em) {
  .subheading {
    max-width: 100%;
  }
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-primary {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .hero-img {
    width: 90%;
  }
  .hero-text-box {
    padding: 0 0 3.2rem 0;
    height: 3rem;
    margin-bottom: 4.8rem;
  }

  .hero-description {
    font-size: 1.4rem;
  }
  .hero-img-box {
    text-align: center;
  }
  .about-img {
    max-width: 50%;
  }
  .about-description {
    font-size: 1rem;
  }
  .slider {
    max-width: 35rem;
  }
  .slide-description {
    padding: 1.8rem 2.4rem;
    font-size: 1.4rem;
  }
  .slider-btn {
    height: 6rem;
    width: 6rem;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .contact-details {
    grid-row: 1;
  }

  .copyright {
    font-size: 1rem;
  }

  .logo {
    height: 1.2rem;
  }
}
